<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
            <h1 id="create-listing" class="mb-5" .bg-primary>Create New Listing</h1>
            <form 
                method="POST" 
                action="/listings"
                novalidate 
                class="needs-validation"
                enctype="multipart/form-data">  <!-- for type: file -->
                    <div class="mb-3"> 
                        <label for="title" class="form-label">Title:</label>
                        <input 
                        name="listing[title]" 
                        placeholder="enter title" 
                        type="text" 
                        class="form-control"
                        >
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a title for your listing.
                        </div>
                    </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label> 
                    
                    <textarea 
                    name="listing[description]" 
                    placeholder="enter description" 
                    class="form-control" ></textarea>
                
                </div>
                
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Link:</label>
                    <input 
                    name="listing[image][url]" 
                    placeholder="enter image URL/Link" 
                    type="text"
                    class="form-control">
                </div> -->

                <div class="mb-3">
                    <label for="image" class="form-label">Attach Image:</label>
                    <input 
                    name="listing[image][url]" 
                    type="file"
                    class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input 
                        name="listing[price]" 
                        placeholder="enter price"
                        class="form-control"
                        >
                    </div>
                    
                    <div class="mb-3 col-md-8" >
                        <label for="country" class="form-label">Country:</label>
                        <input name="listing[country]" placeholder="country" type="text" class="form-control" > 
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input name="listing[location]" placeholder="location" type="text" class="form-control" >   
                </div>
        
        <button class="btn btn-dark add-btn mb-3">Add</button>
    </form>
    </div>
</div>